In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [2]:
opciones=Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')              # incognito

In [10]:
year = []
milliondollars = []
perfederalbudget = []

driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver, options = opciones)
driver.get("https://en.wikipedia.org/wiki/Budget_of_NASA")

for i in range(3,47):
    year.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[1]/table/tbody/tr[{i}]/td[1]').text)
    milliondollars.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[1]/table/tbody/tr[{i}]/td[2]').text)
    perfederalbudget.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[1]/table/tbody/tr[{i}]/td[3]').text)

<ipython-input-10-e2e269413834>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver, options = opciones)
<ipython-input-10-e2e269413834>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[1]/table/tbody/tr[{i}]/td[1]').text)
<ipython-input-10-e2e269413834>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  milliondollars.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[1]/table/tbody/tr[{i}]/td[2]').text)
<ipython-input-10-e2e269413834>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  perfederalbudget.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[1]/table/tbody/tr[{i}]/td[3]').text)

In [15]:
firstpart = pd.DataFrame(list(zip(year,milliondollars,perfederalbudget)), columns = ['Year','Nominal_Dollars(Millions)','%Federal_Budget'])

In [16]:
firstpart

    Year Nominal_Dollars(Millions) %Federal_Budget
0   1915                     0.005           0.00%
1   1916                     0.005           0.00%
2   1917                     0.088           0.00%
3   1918                     0.112           0.00%
4   1919                     0.205           0.00%
5   1920                     0.175           0.00%
6   1921                     0.200           0.00%
7   1922                     0.200           0.01%
8   1923                     0.226           0.01%
9   1924                     0.307           0.01%
10  1925                     0.470           0.02%
11  1926                     0.534           0.02%
12  1927                     0.513           0.02%
13  1928                     0.550           0.02%
14  1929                     0.837           0.03%
15  1930                     1.300           0.04%
16  1931                     1.321           0.04%
17  1932                     1.051           0.02%
18  1933                     0.920           0.02%
19  1934                     0.954           0.01%
20  1935                     1.256           0.02%
21  1936                     2.544           0.03%
22  1937                     1.631           0.02%
23  1938                     1.281           0.02%
24  1939                     4.064           0.04%
25  1940                     4.180           0.04%
26  1941                    11.200           0.08%
27  1942                    19.866           0.06%
28  1943                    25.429           0.03%
29  1944                    38.392           0.04%
30  1945                    40.942           0.04%
31  1946                    24.052           0.04%
32  1947                    30.713           0.09%
33  1948                    43.449           0.15%
34  1949                    48.652           0.13%
35  1950                       128           0.30%
36  1951                    63.068           0.14%
37  1952                    69.000           0.10%
38  1953                    66.286           0.09%
39  1954                    62.439           0.09%
40  1955                    55.860           0.08%
41  1956                    72.700           0.10%
42  1957                    76.677           0.10%
43  1958                       117           0.14%

In [11]:
year2 = []
milliondollars2 = []
perfederalbudget2 = []

driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver, options = opciones)
driver.get("https://en.wikipedia.org/wiki/Budget_of_NASA")

for i in range(3,33):
    year2.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[2]/table/tbody/tr[{i}]/td[1]').text)
    milliondollars2.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[2]/table/tbody/tr[{i}]/td[2]').text)
    perfederalbudget2.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[2]/table/tbody/tr[{i}]/td[3]').text)

<ipython-input-11-5dee6ac1e137>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver, options = opciones)
<ipython-input-11-5dee6ac1e137>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year2.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[2]/table/tbody/tr[{i}]/td[1]').text)
<ipython-input-11-5dee6ac1e137>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  milliondollars2.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[2]/table/tbody/tr[{i}]/td[2]').text)
<ipython-input-11-5dee6ac1e137>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  perfederalbudget2.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[2]/table/tbody/tr[{i}]/td[3]').text)

In [17]:
secondpart = pd.DataFrame(list(zip(year2,milliondollars2,perfederalbudget2)), columns = ['Year','Nominal_Dollars(Millions)','%Federal_Budget'])

In [18]:
secondpart

    Year Nominal_Dollars(Millions) %Federal_Budget
0   1958                        89            0.1%
1   1959                       145            0.2%
2   1960                       401            0.5%
3   1961                       744            0.9%
4   1962                     1,257           1.18%
5   1963                     2,552           2.29%
6   1964                     4,171           3.52%
7   1965                     5,092           4.31%
8   1966                     5,933           4.41%
9   1967                     5,425           3.45%
10  1968                     4,722           2.65%
11  1969                     4,251           2.31%
12  1970                     3,752           1.92%
13  1971                     3,382           1.61%
14  1972                     3,423           1.48%
15  1973                     3,312           1.35%
16  1974                     3,255           1.21%
17  1975                     3,269           0.98%
18  1976                     3,671           0.99%
19  1977                     4,002           0.98%
20  1978                     4,164           0.91%
21  1979                     4,380           0.87%
22  1980                     4,959           0.84%
23  1981                     5,537           0.82%
24  1982                     6,155           0.83%
25  1983                     6,853           0.85%
26  1984                     7,055           0.83%
27  1985                     7,251           0.77%
28  1986                     7,403           0.75%
29  1987                     7,591           0.76%

In [12]:
year3 = []
milliondollars3 = []
perfederalbudget3 = []

driver = "./chromedriver.exe"
driver = webdriver.Chrome(driver, options = opciones)
driver.get("https://en.wikipedia.org/wiki/Budget_of_NASA")

for i in range(3,33):
    year3.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[3]/table/tbody/tr[{i}]/td[1]').text)
    milliondollars3.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[3]/table/tbody/tr[{i}]/td[2]').text)
    perfederalbudget3.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[3]/table/tbody/tr[{i}]/td[3]').text)

<ipython-input-12-1d0bf600e378>:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(driver, options = opciones)
<ipython-input-12-1d0bf600e378>:10: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  year3.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[3]/table/tbody/tr[{i}]/td[1]').text)
<ipython-input-12-1d0bf600e378>:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  milliondollars3.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[3]/table/tbody/tr[{i}]/td[2]').text)
<ipython-input-12-1d0bf600e378>:12: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  perfederalbudget3.append(driver.find_element_by_xpath(f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr/td[3]/table/tbody/tr[{i}]/td[3]').text)

In [32]:
newm= []
separador = "["
for i in milliondollars3:
    newm.append(milliondollars3[i].split(separador)

SyntaxError: unexpected EOF while parsing (<ipython-input-32-072a715e1dd4>, line 4)

In [45]:
newm2 = []
for i in range(len(milliondollars3)):
    newm2.append(milliondollars3[i][0:6])

In [46]:
newm2

['11,036',
 '12,429',
 '13,878',
 '13,961',
 '14,305',
 '13,695',
 '13,378',
 '13,881',
 '14,360',
 '14,194',
 '13,636',
 '13,428',
 '14,095',
 '14,405',
 '14,610',
 '15,152',
 '15,602',
 '15,125',
 '15,861',
 '17,833',
 '17,782',
 '18,724',
 '18,448',
 '17,770',
 '16,865',
 '17,647',
 '18,010',
 '19,300',
 '19,508',
 '20,736']

In [47]:
thirdpart = pd.DataFrame(list(zip(year3,newm2,perfederalbudget3)), columns = ['Year','Nominal_Dollars(Millions)','%Federal_Budget'])

In [48]:
thirdpart

    Year Nominal_Dollars(Millions) %Federal_Budget
0   1989                    11,036           0.96%
1   1990                    12,429           0.99%
2   1991                    13,878           1.05%
3   1992                    13,961           1.01%
4   1993                    14,305           1.01%
5   1994                    13,695           0.94%
6   1995                    13,378           0.88%
7   1996                    13,881           0.89%
8   1997                    14,360           0.90%
9   1998                    14,194           0.86%
10  1999                    13,636           0.80%
11  2000                    13,428           0.75%
12  2001                    14,095           0.76%
13  2002                    14,405           0.72%
14  2003                    14,610           0.68%
15  2004                    15,152           0.66%
16  2005                    15,602           0.63%
17  2006                    15,125           0.57%
18  2007                    15,861           0.58%
19  2008                    17,833           0.60%
20  2009                    17,782           0.57%
21  2010                    18,724           0.52%
22  2011                    18,448           0.51%
23  2012                    17,770           0.50%
24  2013                    16,865           0.49%
25  2014                    17,647           0.50%
26  2015                    18,010           0.49%
27  2016                    19,300           0.50%
28  2017                    19,508           0.47%
29  2018                    20,736           0.50%

In [49]:
nasa_yearly_budget = pd.concat([firstpart,secondpart, thirdpart], axis=0)

In [53]:
nasa_yearly_budget.reset_index()

     index  Year Nominal_Dollars(Millions) %Federal_Budget
0        0  1915                     0.005           0.00%
1        1  1916                     0.005           0.00%
2        2  1917                     0.088           0.00%
3        3  1918                     0.112           0.00%
4        4  1919                     0.205           0.00%
..     ...   ...                       ...             ...
99      25  2014                    17,647           0.50%
100     26  2015                    18,010           0.49%
101     27  2016                    19,300           0.50%
102     28  2017                    19,508           0.47%
103     29  2018                    20,736           0.50%

[104 rows x 4 columns]

In [57]:
nasa_yearly_budget.columns

Index(['Year', 'Nominal_Dollars(Millions)', '%Federal_Budget'], dtype='object')

In [58]:
nasa_y_budget = nasa_yearly_budget.reset_index(drop=True)

In [60]:
nasa_y_budget #quitar el %

     Year Nominal_Dollars(Millions) %Federal_Budget
0    1915                     0.005           0.00%
1    1916                     0.005           0.00%
2    1917                     0.088           0.00%
3    1918                     0.112           0.00%
4    1919                     0.205           0.00%
..    ...                       ...             ...
99   2014                    17,647           0.50%
100  2015                    18,010           0.49%
101  2016                    19,300           0.50%
102  2017                    19,508           0.47%
103  2018                    20,736           0.50%

[104 rows x 3 columns]

In [74]:
percentage = nasa_y_budget["%Federal_Budget"].str.split("%",expand=True)

In [73]:
nasa_y_budget

     Year Nominal_Dollars(Millions) %Federal_Budget
0    1915                     0.005           0.00%
1    1916                     0.005           0.00%
2    1917                     0.088           0.00%
3    1918                     0.112           0.00%
4    1919                     0.205           0.00%
..    ...                       ...             ...
99   2014                    17,647           0.50%
100  2015                    18,010           0.49%
101  2016                    19,300           0.50%
102  2017                    19,508           0.47%
103  2018                    20,736           0.50%

[104 rows x 3 columns]

In [78]:
percentage.drop(columns=[1],inplace=True)

In [81]:
percentage.rename(columns={0: "PercentageFedBudget"},inplace=True)

In [98]:
percentage.sample(15)

    PercentageFedBudget
2                  0.00
19                 0.01
44                  0.1
28                 0.03
16                 0.04
89                 0.66
48                 1.18
39                 0.09
70                 0.83
35                 0.30
65                 0.87
95                 0.52
79                 0.94
100                0.49
52                 4.41

In [87]:
nasabudget = pd.DataFrame(nasa_y_budget, columns = ['Year', 'Nominal_Dollars(Millions)'])

In [90]:
yearlynasabudget = pd.concat([nasabudget, percentage])

In [93]:
percentage.shape

(104, 1)

In [100]:
yearlynasabudget = pd.concat([nasabudget, percentage], axis=1)

In [103]:
yearlynasabudget

     Year Nominal_Dollars(Millions) PercentageFedBudget
0    1915                     0.005                0.00
1    1916                     0.005                0.00
2    1917                     0.088                0.00
3    1918                     0.112                0.00
4    1919                     0.205                0.00
..    ...                       ...                 ...
99   2014                    17,647                0.50
100  2015                    18,010                0.49
101  2016                    19,300                0.50
102  2017                    19,508                0.47
103  2018                    20,736                0.50

[104 rows x 3 columns]

In [105]:
yearlynasabudget.to_csv("F_nasabudget.csv",index=False)